.default_button_all {
	height: 40px;
	background-color: #EF7F0F;
	font-family: 'Montserrat-Bold';
	color: white;
	border: solid 1px transparent;
	border-radius: 30px;
	width: 200px;
	margin-top: 10px;
	transition: ease all 0.5s;
}

.default_button_all:hover {
	background-color: rgba(247, 148, 29, 0.87);
	color: #fff;
	border-radius: 0px;
	transition: ease all 0.3s;
	border: solid 1px rgba(247, 148, 29, 0.87);
}




.blue_button_all {
	height: 40px;
	background-color: #253A7F;
	font-family: 'Montserrat-Bold';
	color: white;
	border: solid 1px transparent;
	border-radius: 30px;
	width: 200px;
	margin-top: 10px;
}