.tab_section_one_projects {
	padding: 5% 10px;
	text-align: center;
}

.tab_section_one_projects h1 {
	color: #253A7F;
	font-family: 'Montserrat-Regular';
}
.tab_section_one_projects p {
	font-size: 16px;
}

.tab_buttons_projec {
	padding: 2% 0px 3%;
}
/*buttons Style Tabs,*/

.nav-pills>li+li {
	margin: 0px;
	padding: 0px 10px;
}
.nav-pills>li {
	margin: 0px;
	padding: 0px 10px;
}
.nav-pills>li {
	width: 50%;
}
.tab_section_one_projects  .nav-pills>li>a {
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    font-family: 'Montserrat-Bold';
    color: #BCBEC0;
    border: solid 1px #BCBEC0;
    border-radius: 30px;
    width: 100%;
    transition: all ease 0.2s;
    margin: 10px 0px 0px;
}
.tab_section_one_projects .nav-pills>li.active>a, .tab_section_one_projects .nav-pills>li.active>a:focus, .tab_section_one_projects  .nav-pills>li.active>a:hover {
	height: 40px;
	background-color: #EF7F0F;
	font-family: 'Montserrat-Bold';
	color: white;
	border: solid 1px transparent;
	border-radius: 30px;
    width: 100%;
	transition: all ease 0.2s;
	margin: 10px 0px 0px;
}


/* Images and Popups for more details */

.image_details_a {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(239, 127, 15, 0.44);
}

.image_details_a:hover .overlay {
  opacity: 1;
}

.button_details_projects {
	height: 40px;
	background-color: transparent;
	font-family: 'Montserrat-Bold';
	color: #fff;
	border: solid 1px #fff;
	border-radius: 30px;
	width: 120px;
	transition: all ease 0.2s;
	margin: 10px 0px 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.button_details_projects:hover {
	border-radius: 0px;
	transition: ease-in-out 0.3s all;
}

