.fisrt_quality_section img {
	width: 100%;
}

.quality_text_panel {
	padding: 4.5% 4.5% 0px;
}

.quality_text_panel h1 {
	font-family: 'Montserrat-Regular';
	color: #253A7F;
}

.quality_text_panel p {
	font-size: 14px;
}

.probus_quality_slider {
	background-image: url('../img/background/footer_bg.png');
	text-align: center;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 6.5% 10px;
}
